

<table class="table table-hover">
    <tr>        
        <th>StoreId</th>
        <th>StoreName</th>
    </tr>
    @foreach (var d in ViewBag.Store)
    {
        <tr>
            <td>@d.storeId</td>
            <td>@d.storeName</td>
        </tr>

    }
</table>


