
@model StoreParam

<form id="frmupload">
    <input type="file" accept=".xlsx" id="flp" asp-for="file" />
    <button class="btn btn-primary btn-sm" id="uploadData" onclick="proses()">Upload</button>
</form>
     